/*Estilo geral da página*/
body {
    margin:0;
    display: flex;
    justify-content: center;

    font-family: sans-serif, Arial, Helvetica ;

    background: #73306E;
    background: radial-gradient(circle, rgba(115, 48, 110, 1) 0%, rgba(165, 153, 191, 1) 100%);
}

.caixa {
    display: flex;
    flex-direction: column;
    box-shadow: 0 18px 20px rgba(0, 0, 0, 0.3);
    height: 80vh;
    width: 60vw;

    margin-top: 90px;

    border: 0.2px groove;
    border-color: #592050;
    border-radius: 20px;

    background: url(../imgs/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Estilo do header*/
.cabecalho{
    display: flex;
    margin: 20px 30px;
    
    height: 100px;
    border-radius: 20px 20px 0px 0px;
}

.cabecalho-img {
    display: flex;
    height: 100px;
    filter: grayscale(100%);
    opacity: 0.5;

    border-radius: 20px 20px 0px 0px;
}

.cabecalho-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    
    border-radius: 20px 20px 0px 0px;
}

.cabecalho-text h3{
    margin-top: -10px;
    color:#592050;
}

.cabecalho-text h1{
    color:#3c3c3c;
}


/*Estilo Formulário/login*/
.login{
    display: flex;
    flex-grow:1;
    height: 100%;
    margin: 0px 30px 0px 30px;

    justify-content: center;
    align-items: center;
}

.login input {
    display: flex;
    min-width: 500px;
    min-height: 45px;
    margin-bottom: 30px;
    border: 1px solid #592050;
    border-radius: 100px;
    padding: 6px 20px;

    text-align: center;
    font-size: 15px;
    cursor: text;
}

.label{
    color: #3c3c3c;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
}

.login button{
    background-color: #592050;
    color: #B8A9D9;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 100px;

    width: 150px;
    height: 45px;
}

.login button:hover {
    background-color: #4a2f71;
}

.botao-area {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    padding-left: 40px;
}

.mulher_icon{
    display: flex;
    width: 350px;
    padding-left: 140px;
}

/*Estilo footer*/
.footer{
    display: flex;
    flex-grow: 1;
    margin: 20px 30px;

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.img-logo-footer{
    height: 70px;
    width: auto;
}
