/*Estilo geral da página*/
body {
    /*display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;*/
    margin:0;
    font-family: sans-serif, Arial, Helvetica ;
    background: #73306E;
    background: radial-gradient(circle, rgba(115, 48, 110, 1) 0%, rgba(165, 153, 191, 1) 100%);

}

.caixa {
    font-family: sans-serif, Arial, Helvetica ;
    box-shadow: 0 18px 20px rgba(0, 0, 0, 0.3);

    padding: 0 20px;
    border: 0.2px groove;
    border-color: #592050;
    border-radius: 20px;
    
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;

    min-height: 80vh;
    min-width: 60vw;
    background: url(../imgs/background.png);

    

    /*background-image: url(../imgs/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}

.fundo {
    position: absolute; /* Posiciona a div de fundo sobre o container */
    
}
/*Estilo do header*/

.cabecalho{
    position: sticky;
    text-align: center;
    width: 100%;
}

.cabecalho h1 {
    color: #3c3c3c;
    padding-top: 20px;
    margin-bottom: -10px;
}

.cabecalho h3 {
    color:#592050;
}


/*Estilo Formulário/login*/
.login{
    padding: 20px 50px;
}

.label{
    color: #3c3c3c;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
}

.campo button{
    background-color: #592050;
    color: #B8A9D9;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 100px;

    width: 150px;
    height: 45px;
    justify-self: end;
}

.login button:hover {
    background-color: #4a2f71;
}

.botao-area {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    padding-left: 40px;
}

/*Tratando imagens*/
.img-logo {
    float: left;
    width: 100px;
    height: auto;
    filter: grayscale(100%);
    opacity: 0.5;
}

.imagem-centro{
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center;
    position: absolute;
    padding-left: 600px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.campo {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
}

.campo input {
    display: flex;
    width: 500px;
    height: 45px;
    margin-bottom: 30px;
    border: 1px solid #592050;
    border-radius: 100px;
    padding: 6px 20px;
    text-align: center;

    font-size: 15px;
    cursor: text;
}

.mulher_icon{
    width: 350px;
    padding-left: 130px;
}

footer{
    padding-top: 95px;
}

.img-logo-footer{
    width: 220px;
    
}

